".text.html.basic, .text.html.php":

  'HEAD 360 Browser':
    'prefix': 'head-360'
    'body': """
      <!-- select rendering engine in order -->
      <meta name="renderer" content="${1:webkit|ie-comp|ie-stand}">
    """

  'HEAD App Links':
    'prefix': 'head-applinks'
    'body': """
      <!-- iOS -->
      <meta property="al:ios:url" content="applinks://docs">
      <meta property="al:ios:app_store_id" content="12345">
      <meta property="al:ios:app_name" content="App Links">
      <!-- Android -->
      <meta property="al:android:url" content="applinks://docs">
      <meta property="al:android:app_name" content="App Links">
      <meta property="al:android:package" content="org.applinks">
      <!-- Web Fallback -->
      <meta property="al:web:url" content="http://applinks.org/documentation">
      <!-- More info: http://applinks.org/documentation/ -->
    """

  'HEAD Android':
    'prefix': 'head-android'
    'body': """
      <meta name="theme-color" content="${1:#E64545}">

      <!-- Add to homescreen -->
      <meta name="mobile-web-app-capable" content="${2:yes}">
      <!-- More info: https://developer.chrome.com/multidevice/android/installtohomescreen -->
    """

  'HEAD Chrome':
    'prefix': 'head-chrome'
    'body': """
      <link rel="chrome-webstore-item" href="https://chrome.google.com/webstore/detail/${1:APP_ID}">

      <!-- Disable translation prompt -->
      <meta name="google" value="${2:notranslate}">
    """

  'HEAD Favicon':
    'prefix': 'head-fav'
    'body': """
      <!-- For IE 10 and below -->
      <!-- No link, just place a file called favicon.ico in the root directory -->

      <!-- For IE 11, Chrome, Firefox, Safari, Opera -->
      <link rel="icon" href="${1:path/to/favicon-16.png}" sizes="16x16" type="image/png">
      <link rel="icon" href="${2:path/to/favicon-32.png}" sizes="32x32" type="image/png">
      <link rel="icon" href="${3:path/to/favicon-48.png}" sizes="48x48" type="image/png">
      <link rel="icon" href="${4:path/to/favicon-62.png}" sizes="62x62" type="image/png">
      <link rel="icon" href="${5:path/to/favicon-192.png}" sizes="192x192" type="image/png">
    """

  'HEAD FB IA':
    'prefix': 'head-fbia'
    'body': """
      <meta charset="utf-8">
      <meta property="op:markup_version" content="${1:v1.0}">

      <!-- The URL of the web version of your article -->
      <link rel="canonical" href="${2:http://example.com/article.html}">

      <!-- The style to be used for this article -->
      <meta property="fb:article_style" content="${3:myarticlestyle}">
    """

  'HEAD FB/OG':
    'prefix': 'head-fbog'
    'body': """
      <meta property="fb:app_id" content="${1:123456789}">
      <meta property="og:url" content="${2:https://example.com/page.html}">
      <meta property="og:type" content="${3:website}">
      <meta property="og:title" content="${4:Content Title}">
      <meta property="og:image" content="${5:https://example.com/image.jpg}">
      <meta property="og:description" content="${6:Description Here}">
      <meta property="og:site_name" content="${7:Site Name}">
      <meta property="og:locale" content="${8:en_US}">
      <meta property="article:author" content="${9}">
      <!-- Facebook: https://developers.facebook.com/docs/sharing/webmasters#markup -->
      <!-- Open Graph: http://ogp.me/ -->
    """

  'HEAD Google+':
    'prefix': 'head-gplus'
    'body': """
      <link href="https://plus.google.com/+${1:YourPage}" rel="publisher">
      <meta itemprop="name" content="${2:Content Title}">
      <meta itemprop="description" content="${3:Content description less than 200 characters}">
      <meta itemprop="image" content="${4:https://example.com/image.jpg}">
    """

  'HEAD IE':
    'prefix': 'head-ie'
    'body': """
      <meta http-equiv="x-ua-compatible" content="${1:ie=edge}">
      <meta http-equiv="cleartype" content="${2:on}">
      <meta name="skype_toolbar" content="${3:skype_toolbar_parser_compatible}">

      <!-- Disable link highlighting on IE 10 on Windows Phone (https://blogs.windows.com/buildingapps/2012/11/15/adapting-your-webkit-optimized-site-for-internet-explorer-10/) -->
      <meta name="msapplication-tap-highlight" content="${4:no}">

      <!-- Pinned sites (https://msdn.microsoft.com/en-us/library/dn255024(v=vs.85).aspx) -->
      <meta name="application-name" content="${5:Contoso Pinned Site Caption}">
      <meta name="msapplication-tooltip" content="${6:Example Tooltip Text}">
      <meta name="msapplication-starturl" content="${7:/}">

      <meta name="msapplication-config" content="${8:http://example.com/browserconfig.xml}">

      <meta name="msapplication-allowDomainApiCalls" content="${9:true}">
      <meta name="msapplication-allowDomainMetaTags" content="${10:true}">
      <meta name="msapplication-badge" content="${11:frequency=30; polling-uri=http://example.com/id45453245/polling.xml}">
      <meta name="msapplication-navbutton-color" content="${2:#FF3300}">
      <meta name="msapplication-notification" content="${13:frequency=60;polling-uri=http://example.com/livetile}">
      <meta name="msapplication-square150x150logo" content="${14:path/to/logo.png}">
      <meta name="msapplication-square310x310logo" content="${15:path/to/largelogo.png}">
      <meta name="msapplication-square70x70logo" content="${16:path/to/tinylogo.png}">
      <meta name="msapplication-wide310x150logo" content="${17:path/to/widelogo.png}">
      <meta name="msapplication-task" content="${18:name=Check Order Status;action-uri=./orderStatus.aspx?src=IE9;icon-uri=./favicon.ico}">
      <meta name="msapplication-task-seperator" content="${19:1}">
      <meta name="msapplication-TileColor" content="${20:#FF3300}">
      <meta name="msapplication-TileImage" content="${21:path/to/tileimage.jpg}">
      <meta name="msapplication-window" content="${22:width=1024;height=768}">
    """

  'HEAD iOS':
    'prefix': 'head-ios'
    'body': """
      <!-- Smart App Banner -->
      <meta name="apple-itunes-app" content="${1:app-id=APP_ID,affiliate-data=AFFILIATE_ID,app-argument=SOME_TEXT}">

      <!-- Disable automatic detection and formatting of possible phone numbers -->
      <meta name="format-detection" content="${2:telephone=no}">

      <!-- Add to Home Screen -->
      <meta name="apple-mobile-web-app-capable" content="${3:yes}">
      <meta name="apple-mobile-web-app-status-bar-style" content="${4:black}">
      <meta name="apple-mobile-web-app-title" content="${5:App Title}">

      <!-- Touch Icons -->
      <link rel="apple-touch-icon" href="${6:path/to/apple-touch-icon.png}">
      <link rel="apple-touch-icon-precomposed" href="${7:path/to/apple-touch-icon-precomposed.png}">
      <!-- In most cases, one 180×180px touch icon in the head is enough -->
      <!-- If you use art-direction and/or want to have different content for each device, you can add more touch icons -->

      <!-- Startup Image -->
      <link rel="apple-touch-startup-image" href="${8:path/to/startup.png}">

      <!-- More info: https://developer.apple.com/safari/library/documentation/appleapplications/reference/safarihtmlref/articles/metatags.html -->
    """

  'HEAD Minimum':
    'prefix': 'head-min'
    'body': """
      <meta charset="utf-8">
      <meta http-equiv="x-ua-compatible" content="${1:ie=edge}">
      <meta name="viewport" content="${2:width=device-width, initial-scale=1}">
      <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
      <title>${3:Page Title}</title>
    """

  'HEAD oEmbed':
    'prefix': 'head-oembed'
    'body': """
      <link rel="alternate" type="application/json+oembed"
        href="${1:http://example.com/services/oembed?url=http%3A%2F%2Fexample.com%2Ffoo%2F&amp;format=json}"
        title="${2:oEmbed Profile: JSON}">
      <link rel="alternate" type="text/xml+oembed"
        href="${3:http://example.com/services/oembed?url=http%3A%2F%2Fexample.com%2Ffoo%2F&amp;format=xml}"
        title="${4:oEmbed Profile: XML}">
    """

  'HEAD QQ Browser':
    'prefix': 'head-qq'
    'body': """
      <!-- Locks the screen into the specified orientation -->
      <meta name="x5-orientation" content="${1:landscape/portrait}">
      <!-- Display this page in fullscreen -->
      <meta name="x5-fullscreen" content="${2:true}">
      <!-- Page will be displayed in "application mode"(fullscreen,etc.) -->
      <meta name="x5-page-mode" content="${3:app}">
    """

  'HEAD Safari':
    'prefix': 'head-safari'
    'body': """
      <!-- Pinned Site -->
      <link rel="mask-icon" href="${1:path/to/icon.svg}" color="${2:red}">
    """

  'HEAD Twitter':
    'prefix': 'head-twitter'
    'body': """
      <meta name="twitter:card" content="${1:summary}">
      <meta name="twitter:site" content="@${2:site_account}">
      <meta name="twitter:creator" content="${3:@individual_account}">
      <meta name="twitter:url" content="${4:https://example.com/page.html}">
      <meta name="twitter:title" content="${5:Content Title}">
      <meta name="twitter:description" content="${6:Content description less than 200 characters}">
      <meta name="twitter:image" content="${7:https://example.com/image.jpg}">
      <!-- More info: https://dev.twitter.com/cards/getting-started -->
      <!-- Validate: https://dev.twitter.com/docs/cards/validation/validator -->
    """

  'HEAD UC Browser':
    'prefix': 'head-uc'
    'body': """
      <!-- Locks the screen into the specified orientation -->
      <meta name="screen-orientation" content="${1:landscape/portrait}">
      <!-- Display this page in fullscreen -->
      <meta name="full-screen" content="${2:yes}">
      <!-- UC browser will display images even if in "text mode" -->
      <meta name="imagemode" content="${3:force}">
      <!-- Page will be displayed in "application mode"(fullscreen,forbiding gesture, etc.) -->
      <meta name="browsermode" content="${4:application}">
      <!-- Disabled the UC browser's "night mode" in this page -->
      <meta name="nightmode" content="${5:disable}">
      <!-- Simplify the page to reduce data transfer -->
      <meta name="layoutmode" content="${6:fitscreen}">
      <!-- Disable the UC browser's feature of "scaling font up when there are many words in this page" -->
      <meta name="wap-font-scale" content="${7:no}">
    """
